  <h1>Welcome to <strong>Movie Posters</strong>!</h1>

  <form action="/movie">

    <input type="text" name="title" placeholder="title">
   

    <button>Find my poster!</button>

  </form>
<br>
  <img src="http://fillmurray.com/300/300" alt="">

  <footer>
    <p><%= Time.now.to_s %></p> <!-- This is a ruby command -->
  </footer>
