<!-- <p>Your movie title is <%= @movie.title %></p> -->
<p>Click the poster to go to the IMBD page for <%= @movie.title %>.</p>

<p>
  <a href="http://www.imdb.com/title/<%= @movie.url %>"> <img src="<%= @movie.image %>">
  </a>
</p>


