<div class="container">
	<h1>Movie search</h1>
	<div class='searchContainer'>
		<input class="searchBit form-control" type="search" placeholder="Title">
		<button class="searchBit btn btn-primary">Get info</button>
	</div>
<div class="posterBox"></div>
</div>	