<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Breaking Bad</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div id="banner">
      <img src="http://assets.heardontv.com/assets/tvshows/BreakingBad-banner-c1b4f3c94043ae4d8a052d406466d03b.jpg" alt="Breaking Bad banner">
    </div>
    <nav>
      <a href="/characters">All characters</a>
      <a href="/characters/add">Add character</a>
    </nav>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>