<h1>Play Rock, Paper, Scissors</h1>

<form action="/rps/winneris">
  <select name="playerchoice" id="">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <button>Get Winner</button>
</form>