<h2>Rock Paper Scissors</h2>
<a href="/rock_paper_scissors/rock"><img src="http://favim.com/orig/201104/13/Favim.com-17478.jpg" alt=""></a>
<a href="/rock_paper_scissors/paper"><img src="http://img09.deviantart.net/8af9/i/2011/178/9/6/scary_paper_by_fli_nn-d3k4qwb.jpg" alt=""></a>
<a href="/rock_paper_scissors/scissors"><img src="http://2.bp.blogspot.com/-LlYVrMFyWcY/UvkRv1M1mII/AAAAAAAAAHk/_oHflYjjW6g/s1600/ScaryScissors.jpg" alt=""></a>
<a href="/rock_paper_scissors/lizard"><img src="http://www.factzoo.com/sites/all/img/reptiles/lizards/frilled-lizard-yellow-brown.jpg" alt=""></a>
<a href="/rock_paper_scissors/spock"><img src="https://s-media-cache-ak0.pinimg.com/736x/5f/2c/12/5f2c12056d0270393c80b2216e64f89d.jpg" alt=""></a>