<h2>New mountain</h2>
<form action="/mountains" method="post">
  <p>Name: <input type="text" name="mountain[name]"></p>
  <p>Image: <input type="text" name="mountain[image]"></p>
  <p>Location: <input type="text" name="mountain[location]"></p>
  <p>First ascent: <input type="text" name="mountain[first_ascent]"></p>
  <p>Death rate: <input type="text" name="mountain[death_rate]"></p>
  <p>Altitude: <input type="text" name="mountain[altitude]"></p>
  <button>Create mountain</button>
</form>