<div class="container">
	<div class="innerContain">
		<div id="map" style="width:500px;height:500px;"></div>
	</div>
<div class="infoContain">
			<div class="info">
				<h3></h3>
				<p></p>
				<h5 class=issCoords></h5>
			</div>
		</div>
</div>