<h2>New Dog</h2>
<form action="/dogs" method="POST">
    <label for="">Breed:</label>
    <input type="text" name="breed">

    <label for="">Image:</label>
    <input type="url" name="image"> 

    <button>Create Dog</button>
</form>
<p><a href="/dogs"><< back</a></p>