<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dogs</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    
    <div class="container">
        <div id="info-block">
            <nav>
                <a href="/">Home</a> -
                <a href="/dogs">All Dogs</a> -
                <a href="/dogs/new">New Dog</a>
            </nav>
            <%= yield %>
        </div>
    </div>

</body>
</html>