<h2>Welcome to Secret Number!</h2>
<h3>
    I am thinking of a number between 1 and 10<br>
    Can you guess what it is?
</h3>
<div>
    <h2>
    <% @numbers.each do|number| %>
        <a href="/number/<%= number %>"><%= number %></a>
    <% end %>
    </h2>

    <h2>
        <% if params[:guess] && @answer %>
        <%= @answer %>
        <% end %>
    </h2>
</div>