<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Posters</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
    </nav>

    <%= yield %>
    <br>
    <footer>&copy; Copyright Dinosaurs 2000500 BC</footer>

  </div>

</body>
</html>