<nav>
  <a href="/">All Games</a>
</nav>

<p>
Enter either Rock, Paper, or Scissors in the form!
  <form action="/rps/result">

    <input type="integer" name="human_guess" placeholder="Your move here.">
   
    <button>Rock, Paper, or Scissors?</button>

  </form>
</p>