
<form>
  <label for="query">Query</label><input type="text" id="query">
  <label for="location">Location</label><input type="text" id="location">
  <button id="my_location">Use my geolocation</button>
  <input type="submit">
</form>
<div id="results">

</div>

<div id="map"></div>
</script>
</script>