<h1>CREATE</h1>

<form action="/oceans" method="post">
	<p>Name<input type="text" name ="ocean[name]"></p>
	<p>Image<input type="text" name="ocean[location]"></p>
	<p>Orbit<input type="url" name="ocean[image]"></p>
	<p>Moon<input type="number" name="ocean[deepest_point]"></p>
	<p>Mass<input type="text" name="ocean[average_depth]"></p>
	<p>Diameter<input type="text" name="ocean[fact]"></p>

	<button>Create Ocean</button>

</form>
