<h2>New Ocean!</h2>
<form action="/" method="post">
<p>Name: <input type="text" name="ocean[name]"></p>
<p>Image: <input type="url" name="ocean[image]"></p>
<p>Location: <input type="text" name="ocean[location]"></p>
<p>Border Countries: <input type="text" name="ocean[bordering_countries]"></p>
<p>Facts: <input type="text" name="ocean[facts]"></p>

<button>Create Ocean!</button>
  
</form>
