<div id="container">

  <h1>Weather Search!</h1>

  
  <form>
    <input type="search" id="search" placeholder="City">
    <button id="get-info">Current Weather!</button>
  </form>
  <div id="result"></div>

</div>
