<h2>Make an entire Ocean</h2>
<form action="/oceans" method="post">
  <p>Name: <input type="text" name="ocean[name"]></p>
  <p>Ocean Covers: (km<sup>2</sup>) <input type="number" name="ocean[covers]"></p>
  <p>Average Depth: (metres) <input type="number" name="ocean[avgDepth]"></p>
  <p>Maximum Depth: (metres) <input type="number" name="ocean[maxDepth]"></p>
  <p>Percentage of world's Oceans: <input type="number" name="ocean[percentage]"></p>
  <p>Volume: (km<sup>3</sup>) <input type="number" name="ocean[volume]"></p>
  <button>SUBMIT</button>
</form>