// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#my_location {
  display: none;
}

#map {
  display: inline-block;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}