<h2>Add Game</h2>

<form action="/games" method="post">
  <label for="">Name</label>
  <input type="text" name="name">
  <label for="">Studio</label>
  <input type="text" name="studio">
  <label for="">Cover</label>
  <input type="url" name="cover">
  <label for="">Genre</label>
  <input type="text" name="genre">
  <label for="">Score</label>
  <input type="integer" name="score">
<!--   <label for="">Recommend</label>
  <input type="boolean" name="recommend"> -->
<button>Submit info</button>
</form>

