<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
<nav><a href="/games">View all games in database</a>
  <a href="/games/new">Add game to database</a>

<div class="container">
  <h1>VIDJAGAMES, YO!</h1>

  <%= yield %>

</div>

</body>
</html>