<h2>Welcome to Ruby Games!</h2>


<p>Click on the game you'd like to play!</p>

<ul>

  <li><a href="/magic">Magic 8 Ball!</a></li>
  <br>
  <li><a href="/number">Guess the number!</a></li>
  <br>
  <li><a href="/rps">Play Rock, Paper, Scissors!</a></li>

</ul>