<h1>New tweet</h1>

<form id="new-tweet" name="tweet">
  <div class="field">
    <label for="user"> user:</label>
    <input type="text" name="user" id="user" value="<%= user %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Tweet" />
  </div>

</form>

<a href="#/index">Back</a>