<!DOCTYPE html>
<html>
<head>
  <title>Movies IV - Revengeance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container col-md-12">
       <%= yield %> 
    </div>

    <div id="backgroundfade"></div>

</body>
</html>
