<h2>New ocean</h2>

<form action="/oceans" method="POST">
    <p>Name: <input type="text" name="ocean[name]"></p>
    <p>Image: <input type="url" name="ocean[image]"></p>
    <p>Area: <input type="text" name="ocean[area]"></p>
    <p>Depth: <input type="text" name="ocean[depth]"></p>
    <p>Greatest Known Depth: <input type="text" name="ocean[greatest_depth]"></p>
    <p>Place of greatest known depth: <input type="text" name="ocean[place_of_greatest_depth]"></p>

    <button>Create Ocean</button>
</form>